@model IEnumerable<diplomskirad.Models.Laboratorija>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (User.IsInRole("Administrator"))
{
    <p>
        <a asp-action="Create" style="font-family:cursive">Kreiraj</a>
    </p>
}
<p style="font-size: 25px; font-family: cursive">Nase laboratorije se nalaze na sljedecim lokacijama:</p>

<table class="table table-hover  table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Naziv)
            </th>
            <th>

                @Html.DisplayNameFor(model => model.Lokacija)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Naziv)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lokacija)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
              
                <td>
                    @if (User.IsInRole("Administrator") || User.IsInRole("Laborant"))

                    {
                        <a asp-action="Edit" asp-route-id="@item.LaboratorijaID" style="font-family:Papyrus">Izmijeni</a>
                        <a asp-action="Details" asp-route-id="@item.LaboratorijaID" style="font-family:Papyrus">Detalji</a>
                        <a asp-action="Delete" asp-route-id="@item.LaboratorijaID" style="font-family:Papyrus">Obrisi</a>
                    }
                </td>
                
            </tr>
        }
    </tbody>
</table>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2877.2214248751466!2d18.4027782150132!3d43.8512390476209!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4758c8e062a6880f%3A0x70cf3358e4c930b6!2sLjubljanska%2013%2C%20Sarajevo%2071000!5e0!3m2!1ssr!2sba!4v1651258737140!5m2!1ssr!2sba" width="400" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="col-sm">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2878.8728208743682!2d18.359431915012014!3d43.81699734984222!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4758c9c68448206f%3A0xb6d6528ce4f10f69!2sHilandarska%2056%2C%20Lukavica!5e0!3m2!1ssr!2sba!4v1651259045948!5m2!1ssr!2sba" width="400" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

        <div class="col-sm">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2878.5100346748673!2d18.355902115012224!3d43.82452154935414!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4758c9be2d978b13%3A0x4b2009dd92a4562b!2sDabrobosanska%2C%20Lukavica!5e0!3m2!1ssr!2sba!4v1651259076481!5m2!1ssr!2sba" width="400" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

    </div>
    </div>