@model IEnumerable<diplomskirad.Models.Komentar>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create"  style="font-family:Papyrus">Napisi komentar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Sadrzaj)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Autor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatumIVrijemeObjave)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Informacija)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Sadrzaj)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Autor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatumIVrijemeObjave)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Informacija.Naslov)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.KomentarID"  style="font-family:Papyrus">Izmijeni</a> |
                <a asp-action="Details" asp-route-id="@item.KomentarID"  style="font-family:Papyrus">Detalji</a> |
                <a asp-action="Delete" asp-route-id="@item.KomentarID"  style="font-family:Papyrus">Obrisi </a>
            </td>
        </tr>
}
    </tbody>
</table>
