@model diplomskirad.Models.Nalaz

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h1>Da li ste sigurni da zelite obrisati Nalaz?</h1>
<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Opis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Opis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Autor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Autor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Imeiprezime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Imeiprezime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Datum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Datum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vrijeme)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vrijeme)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Brojtelefona)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Brojtelefona)
        </dd>
    </dl>
    
    <form asp-action="Delete"  style="font-family:cursive">
        <input type="hidden" asp-for="NalazID" />
        <input type="submit" value="Obrisi" class="btn btn-danger" /> |
        <a asp-action="Index"  style="font-family:cursive">Vrati se</a>
    </form>
</div>
